@charset 'UTF-8';

*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}

body{
    background-color: rgb(12, 16, 19);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
}

header{
    background-color: rgb(5, 7, 9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 2px;
}

header nav ul li{
    display: inline-block;
    
}

header li a{
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}

header li a:hover{
    text-decoration: underline;
}

a.header__nav--active{
    background-color: #cbe300;
    color: #0c1014;
    pointer-events: none;
}

.principal {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

.caixas{
    display: flex;
    flex-direction: row;
    gap: 16px;

    
}

article{
    background-color: rgb(32, 38, 44);
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 5px 12px -6px black;
}

article h2{
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid yellowgreen;
    letter-spacing: 2px;
}

article p{
    font-size: 30px;
    padding: 15px 0;
}

article p span{
    font-size: medium;
    
}

article ul{
    
    color: #b5b5b5;
    margin: 0 0 35px;
    list-style: none;
    flex: 1;
}

article ul li{
    padding-bottom: 5px;
    line-height: 1.8;
   
}

article ul li::before{
    content: "•";
    color: yellowgreen;
    margin-right: 10px;
}

article a{
    display: block;
    background-color: rgb(255, 255, 0);
    padding: 15px 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
   
}

article a:hover{
    background-color: transparent;
    outline: 2px solid rgb(255, 255, 0);
    color: white;
    transition: .3s;
    transform: translateY(3px);
}