@charset 'UTF-8';

:root{
    --color-primary: #ff7833;
    --color-secundary: #31333b;
    --color-color-light: #444856;
    --color-color-dark: #23252d;

    --default-gap: 3rem;
}

html{
    /* pra deixar o rem com 10px */
    font-size: 62.5%;
}

body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    color: #e7e7e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ccc;
    line-height: 1.7;
    background-image: url(../imagens/bg-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 4rem;
    color: #a7a7a7;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}



h2,h3,h4,h5,h6{
    color: var(--color-primary);
    margin: 0;
}

h2{
    margin-top: 1rem;
}

.highlight{
    border-left: 1px solid var(--color-primary);
    font-size: 1.1em;
    /* padding-left: 2em; */
    padding: 0 0 0 2em;
    margin-bottom: 2.2em;
}

article{
    padding: 1em 0;
}

section{
    margin-bottom: 3rem;
}

.main-header, main{
    font-size: 1.6rem;
}

.main-header{
    background-color: rgba(49, 51, 59, 0.801);
    flex: 0 0 26rem;
}   

.main{
    background-color: var(--color-color-light);
    background-color: rgba(68, 72, 86, .6);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

a{
    color: inherit;
}


.perfil-img{
    max-width: 10rem;
    
}

.main-nav{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
    position: sticky;
    top: 0;
    left: 0;
}

.main-nav ul{
    padding: 0;
    list-style-type: none;
}

.main-nav ul a{
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    background-color: transparent;
    transition: paddin-right .2s, background-color .4s;
}

.main-nav ul a:hover, 
.main-nav ul a:focus{
    background-color: var(--color-color-light);
    padding-right: 1rem;
    border-radius: 5px;
    outline: 1px solid white;
    outline-offset: 2px;
    box-shadow: 0px 0px 8px 2px black;
}

.main-nav li{
    border-bottom: 2px solid #7b7b7b;
    padding: .4em 0;
}

.card{
    max-width: 740px;
    padding: 0;
    background-color: var(--color-secundary);
}

.card_content{
    padding: .5em 1em 1em;
}

.card_content p,
.card_title{
    margin: 0;
}

.card_title{
    font-size: 1.75em;
    margin-bottom: .25em;
}

.card img{
    max-width: 100%;
}

.row{
    display: flex;
    gap: var(--default-gap);
    padding-top: 1.5em;
    justify-content: space-between;
}

.row .row{
    padding-top: 0;
}

.row > *{
    flex: 1 0 0%;
}

.alternate{
    list-style-type: none;
    padding-left: 0;
}

.alternate li{
    padding: 0;
}

.alternate li:not(:last-child){
    border-bottom: 2px solid;
}

.roman{
    list-style-type: upper-roman;
}

.list-emoji{
    list-style-type:"\1F608";
}

input,
label,
textarea,
select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input,
textarea,
select{
    background-color: #ccc;
    padding: 1.2em;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    border: 0;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

.btn{
    background-color: var(--color-secundary);
    border: 2px solid var(--color-color-dark);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .8em 1.2em;
    border-radius: 5px;
}

.btn + .btn{
    margin-left: 2rem;
}

.btn-stroke{
    background-color: transparent;
}

.btn:hover,
.btn:focus{
    background-color: var(--color-color-dark);
}

.btn-big{
    font-size: 1.6rem;
}

.btn-full{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.btn-full + .btn-full{
    margin-left: 0;
    margin-top: 2rem
}

.for-quiz{
    width: calc(50% - (var(--default-gap) / 2));
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th{
    padding: 1.6rem;
}

.table td:last-child,
.table th:last-child{
    text-align: right;
}

.table:not(.tabble-alternate) td,
.table:not(.tabble-alternate) th{
    border-bottom:2px solid var(--color-secundary);
}

.table th{
    text-transform: uppercase;
    text-align: left;
}

.tabble-alternate tbody tr:nth-child(odd){
    background-color: var(--color-color-dark)
}

.table-vertical-lines td:not(:last-child),
.table-vertical-lines th:not(:last-child){
    border-right: 1px solid var(--color-color-dark);
}


        .link-icon{
            display: inline-block;
            margin-right: 2rem;
            text-decoration: none;
        }

        .link-icon i{
            font-size: 3rem;
            color: #ccc;
            vertical-align:middle;
            display: inline-block;
            margin-right: 1rem;
        }
        
        .link-icon:hover,
        .link-icon:hover i{
            color: var(--color-primary);
        }